:root{
    --color-header:#2a9653;
    --color-text-header:#fff;
    --color-body:#f0f0f0;
    --color-text-body:#2a9653;
}
body{
    background-color: var(--color-body);
    color: var(--color-text-body);
}
body{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
header {
    background-color: var(--color-header);
    color: var(--color-text-header);
    padding: 1rem;
}
header a {
    color: var(--color-text-header);
    text-decoration: none;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
}
.logo {
    display: flex; 
    align-items: center; 
}
.logo img {
    margin-right: 10px; 
}

.menu {
    list-style: none;
    display: flex;
}
.menu li {
    margin-right: 20px;
}
.menu-icon {
    width: 2rem;
    height: 1.5rem;
    cursor: pointer;
    display: none;
    background: url("../src/icono2.png");
    background-size: cover;
    
}

@media (max-width: 660px) {
    
    .menu {
        margin: 0px;
        padding: 0px;
        display: none;
        flex-direction: column;
        background-color: var(--color-header);
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%; 
    }
    .menu.active {
        display: flex;
    }
    .menu-icon {
        display: block;
        margin:  9px;
    }
    .menu li {
        margin-top: 0px;
        padding: 4px;
        margin-left: 30px;
        margin-bottom: 10px;
    }
    .menu a {
        text-align: center;
        color: var(--color-text-header);
    }
}
.banner{
    width: 100%;
    height: 135px;
    background-image: url(../src/banner.webp);
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease;   
}
.banner:hover{
    opacity: 0.7; 
}
main h3 {
    text-align: center;
    margin: 1rem;
}
.Ofertas {
    margin: 0px;
    padding-left: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2,2fr);
    justify-items: center;
}
.ofer{
    padding: 9px;
    margin-bottom: 10px;
}
.ofer a{
    text-decoration: none;
    color: var(--color-text-body);
    transition: color 0.5s ease;
}
.ofer :hover{
    color: #08391c;

}
.btn{
    background-color: var(--color-header);
    width: 4rem;
    cursor: pointer;
    transition: transform 1s ease;
}
.btn:hover{
    background-color: #127237;
    transform: scale(1.5);
}
.grid{
    margin-top:  20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1,4fr);
}
.item img {
    width: 90%;
    height: 90%;
    object-fit: cover; 
    border-radius: 5px; 
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.808); 
    transition: transform 0.5s ease;
  }
.item:hover{
    transform: scale(1.2);
}

  .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: var(--color-header);
    color: var(--color-text-header);
}
.medio {
    margin: 10px;
}

  @media (max-width: 900px) {
    .grid {
        padding: 0px;
        margin: 0px;
        grid-template-columns: repeat(2, 8fr);
        grid-template-rows: repeat(8,2fr);
        background-color: var(--color-header);
        position: relative;
        left: 0;
        width: 100%; 
    }
    .item{
        padding: 10px;
        margin: 10px;
        
    }
    .footer{
        background-color: var(--color-body);
        color: var(--color-text-body);
    }
}

@media (max-width: 660px) {
    .grid {
        padding: 0px;
        margin: 0px;
        grid-template-columns: repeat(1, 16fr);
        background-color: var(--color-header);
        position: relative;
        left: 0;
        width: 100%; 
    }
    .item{
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 0px;
        margin: 0px;
       }
    .footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    background: linear-gradient(to top, #f82222, var(--color-header));
    } 
}

.animacion{
    font-size: 24px;
    display: inline-block;
    animation: mover 6s ease-in-out infinite;
    
}
@keyframes mover {
    0% { transform: translateX(0) rotate(0) scale(1);
    }
    25% { transform: translateX(calc(100vw /2)) rotate(90deg) scale(1.5);
    }
    50% {transform: translateX(calc(100vw - 100px)) rotate(180deg) scale(1);
    }
    75% {transform: translateX(calc(50vw /2)) rotate(270deg) scale(1.5);
    }
    100% {transform: translateX(0) rotate(360deg) scale(1);
    }
}
